*{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #d7d5d5;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    padding: 20px 40px ;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    background-color: #a8a6a6;
}